
@{
    ViewData["Title"] = "Education";
}

<h4><u>Education </u></h4>
<hr >
<h6>SSC</h6>
<hr />

<ul style="list-style-type:square;">
    <li>Institue: Lakshmipur adrosho samad govt high school</li>
    <li>Year: 2017</li>
    <li>Group: Science</li>
    <li>Result: 5.00</li>
</ul>
<hr />

<h6>HSC</h6>
<hr>

<ul style="list-style-type:square;">
    <li>Institue: Milstone College </li>
    <li>Year: 2019</li>
    <li>Group: Science</li>
    <li>Result: 5.00</li>
</ul>



