@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Showrav Karmakar</h1>
    <h1 class="display-4">20-42927-1</h1>
    <h4>Email:dddddd@gmail.com</h4>
    <h4>Contact No:0174747474</h4>
  

</div>
@{ 
    ViewData["Title"] = "Education";
}
