
@{
    ViewData["Title"] = "Project";
}

<h1><u>Project</u></h1>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>

    <h2> University Projects</h2>
   

    <table style="width:100%">
        <tr>
            <th> Course</th>
            <th> Titel</th>
            <th> Desc</th>
        </tr>
        <tr>
            <td> OOP1</td>
            <td>Car parking management</td>
            <td> This project hleps maintain car parking slot timing etc.</td>
        </tr>
        <tr>
            <td> OOP2</td>
            <td> Library Managment</td>
            <td> This project stdent can borrow books from library store and it store in the database with their books details.</td>
        </tr>

    </table>
</body>
</html>

