
@{
    ViewData["Title"] = "Reference";
}

<h4><u>Reference</u></h4>

<h6>1. DR.S.M. HASAN MAHAMUD</h6>
<p>Assistant Professor, Computer science</p>
<p>Hasan.swe@aiub.edu</p>

<hr>
<h6>2. Syma Kamal Chaity</h6>
<p>Lecturer, CS</p>
<p>chaity@aiub.edu</p>
<hr>


